{% macro item_card(item, has_liked) %}
<div class="card">
    <img src="static/img/{{ item.image_file }}" alt="insert image"
        style="display: block; max-width: 100%; height: auto;">
    <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <!-- TODO : make the href change dynamically -->
        <a href="#" class="btn btn-primary">Details</a>
        {% if not has_liked %}
        <a href="{{ url_for('like_action', item_id=item.id, action='like') }}" class="btn btn-primary">Like</a>
        {% else %}
        <a href="{{ url_for('like_action', item_id=item.id, action='unlike') }}" class="btn btn-primary">Unlike</a>
        {% endif %}
    </div>
</div>
{% endmacro %}