{% macro item_card(item, current_user) %}
<div class="card">
    <img src="{{ url_for('static', filename='img/fish/' + item.image_file) }}" alt="insert image"
        style="display: block; max-width: 100%; height: auto;">
    <div class="card-body">
        <h5 class="card-title">{{ item.name }}
            {% if item.status == "bought" %}
            <small>(bought)</small>
            {% else %}
            <small>(${{ item.base_price }})</small>
            {% endif %}
            <span class="badge bg-success">{{ item.category }}</span>
        </h5>
        <p class="card-text">{{ item.description }}</p>
        <!-- TODO : make the href change dynamically -->
        <a href="/item/{{ item.id }}" class="btn btn-primary">Details</a>
        {% if current_user.is_authenticated %}
        {% if not current_user.has_liked_item(item) %}
        <a href="{{ url_for('like_action', item_id=item.id, action='like') }}" class="btn btn-primary">Like</a>
        {% else %}
        <a href="{{ url_for('like_action', item_id=item.id, action='unlike') }}" class="btn btn-primary">Unlike</a>
        {% endif %}
        {% else %}
        <a href="{{ url_for('like_action', item_id=item.id, action='like') }}" class="btn btn-primary">Like</a>
        {% endif %}
    </div>
</div>
{% endmacro %}