{% macro my_likes(current_user) %}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>My Likes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="" alt="insert item image">
                    <div class="card-body">
                        <h5 class="card-title">Insert Item Name</h5>
                        <p class="card-text">Insert Item Description</p>
                        <!-- TODO : make the href change dynamically -->
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="" alt="insert item image">
                    <div class="card-body">
                        <h5 class="card-title">Insert Item Name</h5>
                        <p class="card-text">Insert Item Description</p>
                        <!-- TODO : make the href change dynamically -->
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="" alt="insert item image">
                    <div class="card-body">
                        <h5 class="card-title">Insert Item Name</h5>
                        <p class="card-text">Insert Item Description</p>
                        <!-- TODO : make the href change dynamically -->
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}