<!-- TODO : make sure navbar content changes based on user -->
{% macro navbar(form, current_user) %}
<style>
    #top{
        background-color: #9ee2c7;
    }
</style>

<nav id = "top" class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><img src="" alt="Insert Fish E logo"></a>
        <form class="d-flex" action="/search" method="get">
            {{ form.csrf_token }}
            {{ form.search(class_="form-control me-2") }}
            {{ form.submit(class_="btn btn-primary") }}
        </form>
        <div class="d-flex row">
            {% if current_user.is_authenticated %}
            <div class="col">
                <a href="/myitems"><button class="btn btn-primary">Items</button></a>
            </div>
            <div class="col">
                <a href="/likes"><button class="btn btn-primary">Likes</button></a>
            </div>
            <div class="col">
                <a href="/chats"><button class="btn btn-primary">Chats</button></a>
            </div>
            <div class="col">
                <a href="/logout"><button class="btn btn-primary">Logout</button></a>
            </div>
            <!-- NOTE: avatar picture aspect ratio has to be 1:1-->
            <!-- default profile picture: https://mdbcdn.b-cdn.net/img/new/avatars/2.webp -->
            <div class="col">
                <a href="/profile/{{ current_user.id }}"><img
                        src="{{ url_for('static', filename='img/profile/' + current_user.image_file) }}" alt="pfp"
                        class="rounded-circle" width="38px"></a>
            </div>
            {% else %}
            <div class="col">
                <a href="/login"><button class="btn btn-primary">Login</button></a>
            </div>
            <div class="col">
                <a href="/register"><button class="btn btn-primary">Register</button></a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
{% endmacro %}