<!-- TODO : make sure navbar content changes based on user -->
{% macro navbar(form, current_user) %}
<style>
    #top {
        background-color: #9ee2c7;
    }

    .btn {
        background-color: #25a9b2;
        border-color: #25a9b2;
    }

    #logo {
        border-radius: 50%;
        width: 70px;
        height: auto;
    }
</style>

<nav id="top" class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><img id="logo" src="/static/img/fish/logo.png"
                alt="Insert Fish E logo"></a>
        <form class="d-flex align-items-center" action="/search" method="get">
            {{ form.csrf_token }}
            {{ form.search(class_="form-control me-2 align-middle") }}
            {{ form.submit(class_="btn btn-primary") }}
        </form>
        <div class="d-flex align-items-center">
            {% if current_user.is_authenticated %}
            <ul class="list-inline mb-0">
                <li class="list-inline-item"><a href="/myitems"><button class="btn btn-primary">Items</button></a></li>
                <li class="list-inline-item"><a href="/likes"><button class="btn btn-primary">Likes</button></a></li>
                <li class="list-inline-item"><a href="/logout"><button class="btn btn-primary">Logout</button></a></li>
                <li class="list-inline-item"><a href="/profile/{{ current_user.id }}"><img
                    src="{{ url_for('static', filename='img/profile/' + current_user.image_file) }}" alt="pfp"
                    class="rounded-circle" width="38px"></a></li>
            </ul>
            

            <!-- NOTE: avatar picture aspect ratio has to be 1:1-->
            <!-- default profile picture: https://mdbcdn.b-cdn.net/img/new/avatars/2.webp -->

            
        </div>
        {% else %}

        <div class="d-flex align-items-center">
            <ul class="list-inline mb-0">
                <li class="list-inline-item"><a href="/login"><button class="btn btn-primary">Login</button></a></li>
                <li class="list-inline-item"><a href="/register"><button class="btn btn-primary">Register</button></a></li>
            </ul>
        </div>
        


        

        {% endif %}
    </div>
    </div>
</nav>
{% endmacro %}