{% from 'macros/footer.html' import footer %}
<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}

    <title>{% block title %}{% endblock title %}</title>
    {% endblock %}
</head>

<body>
    <style>
        .fbg-primary {
            background-color: #9EE2C7;
        }

        .fbg-secondary {
            background-color: #25A9B2;
        }

        .btn-primary {
            background-color: #9EE2C7 !important;
        }

        .btn-secondary {
            background-color: #25A9B2 !important;
        }
    </style>
    <!-- Your page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
    {{ footer(current_user) }}
</body>

</html>