{% from 'bootstrap5/form.html' import render_field, render_form_row %}
{% from 'macros/navbar.html' import navbar %}
{% extends 'base.html' %}
{% block title %}buy{% endblock title %}
{% block content %}
{{ navbar(search_form, current_user) }}
<div class="padding d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <strong>Credit Card</strong>
                <small>enter your card details</small>
            </div>
            <form href="">
                <div class="card-body">
                    {{ render_field(form.name) }}
                    {{ render_field(form.credit_number) }}
                    {{ render_form_row([form.month, form.year, form.cvv]) }}
                </div>
                <div class="card-footer">
                    {{ form.submit(class_="btn btn-success") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}