{% from 'includes/_navbar.html' import navbar %} {% extends 'base.html' %} {%
block title %}home{% endblock title %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- NAVBAR -->
            <h1>Navbar</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- ITEM IMAGE -->
            <h1>Item Image</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <!-- ITEM BRIEF DESCRIPTION -->
                    <h1>Item Brief Description</h1>
                </div>
                <div class="col-md-8">
                    <!-- ITEM IN DEPTH DESCRIPTION -->
                    <h1>Item In Depth Description</h1>
                </div>
            </div>
            <div class="row"></div>
        </div>
        <div class="col-md-4">
            <!-- BID AND MESSAGE -->
            <h1>Bid and Message</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- VENDOR OVERVIEW -->
            <h1>Vendor Overview</h1>
        </div>
        <div class="col-md-8">
            <!-- VENDOR REVIEWS -->
            <h1>Vendor Reviews</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- SIMILAR ITEMS -->
            <h1>Similar Items</h1>
        </div>
    </div>
</div>
{% endblock content %}