{% from 'macros/navbar.html' import navbar %}
{% from 'macros/my_likes.html' import my_likes %}
{% from 'macros/featured_items.html' import featured_items %}
{% from 'macros/reccommended_items.html' import reccommended_items %}
{% extends 'base.html' %}
{% block title %}home{% endblock title %}
{% block content %}
<!-- NAVBAR -->
{{ navbar(form, current_user) }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- CATEGORY -->
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-md-12">
            <!-- MY LIKES -->
            {% if current_user.is_authenticated %}
            {% if l_items %}
            {{ my_likes(l_items, current_user) }}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-md-12">
            <!-- FEATURED ITEMS -->
            {{ featured_items(f_items, current_user) }}
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-md-12">
            <!-- RECCOMENDED -->
            {{ reccommended_items(r_items, current_user) }}
        </div>
    </div>
</div>
{% endblock content %}