{% from 'macros/navbar.html' import navbar %}
{% extends 'base.html' %}
{% block title %}home{% endblock title %}
{% block content %}
<!-- NAVBAR -->
{{ navbar(form) }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- CATEGORY -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- MY LIKES -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- FEATURED ITEMS -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- RECCOMENDED -->
        </div>
    </div>
</div>
{% endblock content %}