{% from 'bootstrap5/form.html' import render_field %}
{% from 'macros/navbar.html' import navbar %}
{% extends 'base.html' %}
{% block title %}inventory{% endblock title %}
{% block content %}
{{ navbar(search_form, current_user) }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-light">
            <!-- NAVIGATION -->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                    <a href="/inventory" class="nav-link">Inventory</a>
                </li>
                <li class="nav-item">
                    <a href="/orders" class="nav-link">Orders</a>
                </li>
                <li class="nav-item">
                    <a href="/analytics" class="nav-link">Analytics</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row mt-1">
                <div class="col">
                    <!-- INVENTORY -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#add-single">Add Item</button>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <div class="card">
                        <div class="card-header">

                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <th scope="col">id</th>
                                    <th scope="col">image</th>
                                    <th scope="col">name</th>
                                    <th scope="col">price</th>
                                    <th scope="col">category</th>
                                    <th scope="col">posted</th>
                                    <th scope="col">likes</th>
                                    <th scope="col"></th>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                    <tr>
                                        <th scope="row">{{ item.id }}</th>
                                        <td><img src="{{ url_for('static', filename='img/fish/' + item.image_file) }}"
                                                style="height: 40px; width: auto;" alt=""></td>
                                        <td>{{ item.name }}</td>
                                        <td>${{ item.base_price }}</td>
                                        <td>{{ item.category }}</td>
                                        <td>{{ item.format_date_difference() }}</td>
                                        <td>{{ item.like_count }}</td>
                                        <td>
                                            <a href="/item/delete/{{ item.id }}">delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="add-single" tabindex="-1" aria-labelledby="add-single-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-single-label">Add Single</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {{ item_form.csrf_token() }}
                    {{ render_field(item_form.image_file) }}
                    {{ render_field(item_form.name) }}
                    {{ render_field(item_form.category) }}
                    {{ render_field(item_form.description) }}
                    {{ render_field(item_form.base_price) }}
                    {{ render_field(item_form.add) }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}