{% from 'macros/navbar.html' import navbar %}
{% from 'macros/my_likes.html' import my_likes %}
{% from 'macros/reccommended_items.html' import reccommended_items %}
{% extends 'base.html' %}
{% block title %}likes{% endblock title %}
{% block content %}
{{ navbar(search_form, current_user) }}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% if l_items %}
            {{ my_likes(l_items, current_user) }}
            {% else %}
            <h1>You have not liked any items yet</h1>
            {{ reccommended_items(r_items, current_user) }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}