{% from 'bootstrap5/form.html' import render_field %}
{% from 'macros/navbar.html' import navbar %}
{% extends 'base.html' %}
{% block title %}inventory{% endblock title %}
{% block content %}
{{ navbar(search_form, current_user) }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-light">
            <!-- NAVIGATION -->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                    <a href="/inventory" class="nav-link">Inventory</a>
                </li>
                <li class="nav-item">
                    <a href="/orders" class="nav-link">Orders</a>
                </li>
                <li class="nav-item">
                    <a href="/analytics" class="nav-link">Analytics</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row mt-1">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Orders
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">user id</th>
                                        <th scope="col">item id</th>
                                        <th scope="col">value</th>
                                        <th scope="col">date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in transactions %}
                                    <tr>
                                        <th scope="row">{{ transaction.id }}</th>
                                        <td>{{ transaction.user_id }}</td>
                                        <td>{{ transaction.item_id }}</td>
                                        <td>{{ transaction.value }}</td>
                                        <td>{{ transaction.date_transacted }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}