{% from 'bootstrap5/form.html' import render_field %}
{% from 'macros/item_card.html' import item_card %}
{% from 'macros/user_profile.html' import user_profile %}
{% from 'macros/navbar.html' import navbar %}
{% from 'macros/review_card.html' import review_card %}
{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock title %}
{% block content %}
{{ navbar(search_form, current_user) }}
<style>
    .card {
        margin: 15px 10px 10px 10px;
    }

    #img1 {
        margin: 10px 10px 10px 10px;
    }

    .dots {
        height: 4px;
        width: 4px;
        margin-bottom: 2px;
        background-color: #3e51ff;
        border-radius: 50%;
        display: inline-block
    }
</style>

<div class="container">
    <div class="row mx-5">
        <div class="col-md-4">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div id="img1" class="card-title text-center">
                            <img src="{{ url_for('static', filename='img/profile/' + user.image_file) }}" alt="pfp"
                                class="rounded-circle">
                            <br>
                            {% if user == current_user %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#pfpModal"><small>change</small></a>
                            {% endif %}
                        </div>
                        <div class="card-body text-center">
                            <strong>@{{ user.username }}</strong>
                            {% if user == current_user %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#usernameModal"><small>change</small></a>
                            {% endif %}
                            <br>
                            <small>Joined on {{
                                user.date_joined.date()
                                }}</small>
                            <br>
                            <small>
                                {{ user.rating }} ({{ user.ratings }})
                            </small>
                            <br>
                            <small>{{ count_of_following }} following</small>
                            <span class="dots"></span>
                            <small>{{ count_of_followers }} followers</small>
                            <span class="dots"></span>
                            <small>{{ len_of_L_items }}
                                listings</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-title text-center">
                            <strong>About Me</strong>
                            {% if user.description != None %}
                            <br>
                            {% if user.description %}
                            <small>{{ user.description }}</small>
                            <br>
                            {% if user == current_user %}
                            <a href="" data-bs-toggle="modal"
                                data-bs-target="#descriptionModal"><small>change</small></a>
                            {% endif %}
                            {% else %}
                            {% if user == current_user %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#descriptionModal"><small>add about
                                    me</small></a>
                            {% endif %}
                            {% endif %}
                            {% else %}
                            <br>
                            <a href="" data-bs-toggle="modal" data-bs-target="#descriptionModal"><small>add about
                                    me</small></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion col-md-8 mt-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Listing ({{ len_of_L_items }})
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body overflow-scroll">
                        {% if L_items %}
                        {% for item in L_items %}
                        <div class="col-md-6">
                            {{ item_card(item, current_user) }}
                        </div>
                        {% endfor %}
                        {% else %}
                        <u>No listed items yet</u>
                        <br>
                        {% if user == current_user %}
                        <a href="/item/add"><button class="btn btn-sm btn-primary">Click here to add an
                                item</button></a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Followers ({{ count_of_followers }})
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for user in followers %}
                        {{ user_profile(user, current_user) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Following ({{ count_of_following }})
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for user in following %}
                        {{ user_profile(user, current_user) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if reviews %}
    <div class="row mx-5">
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <strong>Reviews</strong>
                </div>
                <div class="card-body">
                    {% for review in reviews %}
                    {{ review_card(review) }}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    {% endif %}
</div>

<!-- ### ---------------- ### -->
<!-- ### ---------------- ### -->
<!-- ### ---- MODALS ---- ### -->
<!-- ### ---------------- ### -->
<!-- ### ---------------- ### -->

<!-- Profile Picture Form Modal -->
<form method="post" enctype="multipart/form-data">
    {{pfp_form.csrf_token() }}
    <div class="modal fade" id="pfpModal" tabindex="-1" aria-labelledby="pfpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pfpModalLabel">Change profile picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ render_field(pfp_form.image_file) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    {{ render_field(pfp_form.apply) }}
                </div>
            </div>
        </div>
    </div>
</form>

<!--  Username Form Modal -->
<form method="post">
    {{username_form.csrf_token() }}
    <div class="modal fade" id="usernameModal" tabindex="-1" aria-labelledby="usernameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="usernameModalLabel">Change username</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ render_field(username_form.username) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    {{ render_field(username_form.apply) }}
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Description Form Modal -->
<form method="post">
    {{description_form.csrf_token() }}
    <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptioinModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="descriptionModalLabel">Change description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ render_field(description_form.description) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    {{ render_field(description_form.apply) }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}