{% from 'bootstrap5/form.html' import render_form %}
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 py-5 primary">
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 border">
            <h3>Enter 6 pin</h3>
            {{ render_form(reset_password_form) }}
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12 py-5 secondary">
        </div>
    </div>
</div>
{% endblock content %}