{% from 'bootstrap5/form.html' import render_form_row, render_field %}
{% from 'macros/navbar.html' import navbar %}
{% from 'macros/user_profile.html' import user_profile %}
{% from 'macros/item_card.html' import item_card %}
{% extends 'base.html' %}
{% block title %}search{% endblock title %}
{% block content %}
{{ navbar(search_form, current_user) }}
<div class="container">
    <h3><strong>Search Results for '<span class="text-primary">{{ search }}</span>'</strong> </h3>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-2">
            <!-- CATEGORIES = ["Fish", "Food", "Tank", "Decoration", "Utilities"] -->
            <h4><strong>Filter by</strong></h4>
            <div>
                <form method="post">
                    {{ filter_form.csrf_token() }}
                    <h5 class="text-muted">Category</h5>
                    {{ filter_form.categories(style_="list-style-type: none;", class_="form-check p-0") }}
                    <h5 class="text-muted">Price</h5>
                    {{ render_form_row([filter_form.price_min, filter_form.price_max]) }}
                    <h5 class="text-muted">Likes</h5>
                    {{ render_form_row([filter_form.likes_min, filter_form.likes_max]) }}
                    <h5 class="text-muted">Rating</h5>
                    {{ render_form_row([filter_form.rating_min, filter_form.rating_max]) }}
                    {{ render_field(filter_form.submit) }}
                </form>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <h5><strong>Items</strong><small>({{ count_of_items }})</small></h5>
                {% for item in items %}
                <div class="col-md-3">
                    {{ item_card(item, current_user) }}
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <h5><strong>Users</strong><small>({{ count_of_users }})</small></h5>
                {% for user in users %}
                <div class="col-md-12">
                    {{ user_profile(user, current_user) }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}